@import url('https://fonts.googleapis.com/css2?family=Alef&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nobile:wght@500&display=swap');

//NavBar Colors
$navTextColor: #E9F1F7;
$navHover: #EBE102;
$pulsatingColor: #EBE102;


//Fonts
$navFont: 'Alef', sans-serif;
$topBodyFont: 'Nobile', sans-serif;

//Skills
$circleBorderColor: #000;
$circleFillColor: #E9F1F7;
$skillBackColor: #293132;


//About
$aboutBackColor: #293132;


//Portfolio
$portFont:'Alef', sans-serif;
$boxShadow: 5px 5px 15px 5px rgba(0,0,0,0.67);
$badgeColor: #0d6efd;
$badgeHighlightColor: #045ee4;


@mixin parallax ($img, $height){
    height: $height;
    width: 100%;
    background-image: url($img);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.466);
    background-blend-mode: darken;
}

@mixin skill-img{
    width: 90px;
    height: 90px;
    object-fit: scale-down;
    object-position:  100%;
    border: 5px solid $circleBorderColor;
    background-color: $circleFillColor;
}



// Img Colors

// Yellow Bright 
// #FEC12D

// Yellow 02
// #EBE102

// Orange
// #FF6610

// Pink
// #EC1191

// Darker Pink
// #F6435F

