@import url('https://fonts.googleapis.com/css2?family=Alef&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nobile:wght@500&display=swap');

//NavBar Colors
$navTextColor: #E9F1F7;
$navHover: #F4D35E;
$pulsatingColor: #F95738;


//Fonts
$navFont: 'Alef', sans-serif;
$topBodyFont: 'Nobile', sans-serif;

//Skills
$circleBorderColor: #000;
$circleFillColor: #E9F1F7;
$skillBackColor: #BFD0E0;


@mixin bg-light() {
    color:red;
    // animation: pulsate 1.5s ease-in-out infinite forwards; 
}