@import '../../SASS/Variables';

.container{
    font-family: $portFont;
    text-align: center;
    .port-cards{
       box-shadow: $boxShadow;
       .port-title{
           font-weight: bold;
       }
    }
    .tech-stacks{
        background-color: $badgeColor;
    }
    .tech-stacks:hover{
        background-color: $badgeHighlightColor;
    }

.btn-row{
    padding-top: 2vh;
    .port-btn{
        transition: .3s ease-in;
    }
    .port-btn:hover{
        transform: scale(1.5);
        cursor: pointer;
    }
    .link{
        color: #000;
    }
}
}
