@import '../../SASS/Variables';

.skill-container{
    height: fit-content;
    
    .img-container{
        width: 100%;

        .skill-img{
            width: 90px;
            height: 90px;
            object-fit: scale-down;
            object-position:  100%;
            border: 5px solid $circleBorderColor;
            background-color: $circleFillColor;
            animation: dropDown 1.5s ease-in normal; 
        }
    }
}

.skill-img:hover{
    transform: scale(1.5);
    padding: .3em;
}



.undefined{
    display: none;
    
}

.stretch{
    height: 30vh;
    
}



@keyframes dropDown {
    0%{
        display: none;
        opacity: 0;
        transform: translateY(-15vh);

    }
    100%{
        opacity: 100%;
        transform: translateY(0vh);

    }
} 
