@import '../../SASS/Variables';
.skill-container{
    height: fit-content;
    img{
        display: none;
    }
    
    .img-container{
        width: 100%;

        .skill-img{
            display: block;
            @include skill-img;
            animation: dropDown 1.5s ease-in normal; 
        }
        .undefined{
            @include skill-img;
            opacity: 0;
            animation: dropUp 1.5s ease-in normal;
        }
    }
}

.skill-img:hover{
    transform: scale(1.5);
    padding: .3em;
}


.stretch{
    height: 30vh;
    
}


//Animations

@keyframes dropDown {
    0%{
        display: none;
        opacity: 0;
        transform: translateY(-15vh);
    }
    100%{
        opacity: 100%;
        transform: translateY(0vh);
    }
} 

@keyframes dropUp {
    0%{
        opacity: 100%;
        transform: translateY(0vh);
    }
    100%{
        transform: translateY(-15vh);
        opacity: 0;

    }
} 
