@import '../../SASS/Variables';

.body{
    height: 100%;
    .upperImg{
        @include parallax('../Images/TopBody/Crowd.jpg', 100vh);
        .txt-container{
            color: $navTextColor;
            text-align: center;

            .txt{
                font-family: $navFont;
                font-weight: bold;
                font-size: 64px;
                line-height: 90%;
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                span{
                    font-size: 40px;
                }
            }
        }
    }
    
    .skills{
        background-color: $skillBackColor;
    }
    
    .lowerImg{
        @include parallax('../Images/TopBody/WTWTR.jpg', 58vh ); 
    }


}

