@import '../../SASS/Variables';

.body{
    height: 100%;
    .upperImg{
        @include parallax('../Images/TopBody/Laptop.jpg', 720px);
        .txt-container{
            color: $navTextColor;
            text-align: center;
            padding-top: 30vh;
            .txt{
                // font-family: $topBodyFont;
                font-family: $navFont;
                font-weight: bold;
                font-size: 64px;
                line-height: 90%;
                span{
                    font-size: 40px;
                }
            }
        }
    }
    
    .skills{
        background-color: $skillBackColor;
    }
    
    .lowerImg{
        @include parallax('../Images/TopBody/Typing.jpg', 420px );
        
    }


}

